@import "ui/button/button.css";
@import "ui/logo/logo.css";
@import "components/header/header.css";
@import "ui/checkbox/checkbox.css";
@import "components/todoItem/todoItem.css";
@import "components/main/main.css";
@import "components/content/content.css";
@import "components/leftAside/leftAside.css";
@import "pages/main/mainPage.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
