@import "ui/button/button.css";
@import "ui/logo/logo.css";
@import "components/header/header.css";
@import "ui/checkbox/checkbox.css";
@import "components/todoItem/todoItem.css";


:root {
    --background-color: #FFF5EE;
    --contrast-color: #FF7F50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: var(--background-color);
}

#app {
    display: flex;
    flex-direction: column;
}


/* ВСЁ ДЛЯ ЭЛЕМЕНТА */

.main__container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 5px;

}
