@import "ui/button/button.css";
@import "ui/logo/logo.css";
@import "components/header/header.css";
@import "ui/checkbox/checkbox.css";
@import "components/item/todoItem.css";


:root {
    --background-color: #FFF5EE;
    --contrast-color: #FF7F50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: var(--background-color);
}

#app {
    display: flex;
    flex-direction: column;
}


/* ВСЁ ДЛЯ ЭЛЕМЕНТА */

.main__container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 5px;

}

.item__text {
    margin: 0 auto 0 0;
}

.item__text-header {
    font-size: 22px;
    font-weight: bold;

}

.item__text-main {
    font-size: 18px;
    color: gray;
}

.item__edit {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.item__delete {
    width: 28px;
    height: 28px;
    cursor: pointer;
}
