.button {
    --button-bg-color: transperent;
    background-color: var(--button-bg-color);

    border-radius: 8px;

    display: flex;
    align-items: center;
    /*justify-content: center;*/

    padding: 5px 8px;
    gap: 10px;

    cursor: pointer;

    user-select: none;
}

.button--active-bg {
    transition: background-color 0.2s ease;
}

.button--active-bg:hover {
    background-color: color-mix(in srgb, var(--button-bg-color), black 10%);
}

.button--active-bg:active{
    background-color: color-mix(in srgb, var(--button-bg-color), black 25%);
}

.button__img {
    width: 20px;
    height: 20px;
}

.button__text {
    font-family: "Roboto Light", sans-serif;

    font-size: 20px;
    font-weight: 300;
}