.button {
    border-radius: 12px;

    display: flex;
    align-items: center;

    padding: 5px;
    gap: 10px;

    cursor: pointer;

    user-select: none;
}

.button__img{
    width: 28px;
    height: 28px;
}

.button__text{
    font-size: 20px;
    font-weight: 600;
}