.auth-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.auth-page__header{
    display: flex;
    justify-content: start;

    padding: 15px 10px 0 10px;
}

.auth-page__main {
    display: flex;
    flex: 1;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: "Roboto Thin", sans-serif;
}

.auth-page__main-container {
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    background: white;

    padding: 10px 10px;

    width: 40%;
    min-width: 250px;
    max-width: 700px;

    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

    gap: 10px;
}

.auth-page__header-container {
    display: flex;
    justify-content: center;
}

.auth-page__header-text {
    color: #575656;
    font-weight: bold;
    font-size: 24px;
}

.auth-page__input-container {
    flex-direction: column;
    display: flex;

    width: 100%;
    gap: 5px;
}

.auth-page__button-container {
    display: flex;
    justify-content: end;
}
