# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE (JetBrains)
.idea/
*.iml

# VS Code (если вдруг)
.vscode/

# Build (на будущее)
dist/
build/