.item-container {
    border-radius: 15px;
    border: 2px solid #FF7F50;

    display: flex;
    align-items: center;

    padding: 5px;
    gap: 10px;

    max-width: 700px;
}

.text-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-left: 10px;
    padding: 5px 0;
    gap: 5px;
}



.text-container input{
    border: none;
    border-bottom: 1px solid black;

    outline: none;
    outline: 1px black;

    background: none;
    padding: 0;
    width: 100%;
}

.text-container__title {
    font-size: 22px;
    font-weight: 600;
}

.text-container__description {
    font-size: 18px;
    color: gray;
}
