@import "../../styles/variables.css";


.todo-item {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.todo-item--read {
    cursor: pointer;
}

.todo-item--edit {
    border: 1px solid var(--todo-item-border);
    border-radius: 10px;
}

.control-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 8px 10px;
}

.dividing-line {
    border-bottom: 1px solid var(--todo-item-dividing-line);
    height: 1px;
}

.text-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;

    font-family: "Roboto Thin", sans-serif;
}

.text-container--through {
    text-decoration: line-through;
}

.text-container input {
    border: none;

    outline: none;
    outline: 1px black;

    background: none;
    padding: 0;
    width: 100%;
}

.text-container__title {
    font-size: 22px;
    font-weight: 600;
}

.text-container__description {
    font-size: 18px;
    color: gray;
}

.button-container {
    display: flex;
    justify-self: end;
    justify-content: end;

    gap: 5px;
    padding: 5px;
}
